{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Привет, меня зовут Кирилл, я сверстал это "чудо"</h1>
      <p>
        Мне 26, почти 4 года работал в кадастровой палате (далее - КП). Как раз там и понял, что мне интересна сфера ИТ.
      </p>
       <p>
        В данный момент увлечен учебой в ЯП, стараюсь уделять ей максимум времени.
      </p>
      <p>
        Имею в арсенале помощников:
        <li>
          Кота:
          <figure class = "cat">
            <figcaption>Пуся (2004 года выпуска)</figcaption>
            <img src="{% static 'img/cat.JPG' %}" width="200" height="300">
          </figure>

        </li>
        <li>
          попугая:
          <figure class = "cat">
            <figcaption>Саймон (2020 года выпуска)</figcaption>
            <img src="{% static 'img/parrot.jpg' %}" width="200" height="300">
          </figure>
        </li>
        которые отвлекают своими выходками и помогают разрядить атмосферу в напряженные моменты.
      </p>
      <p>
        Так же учу английский. Надеюсь, что уровень Pre-intermediate мной достигнут :)
      </p>
      <p>
        Немного стараюсь окунаться в мир Linux, познакомился с такими дистрибутивами как Mint и Lubuntu.
        К этому знакомству сподвиг старенький нетбук acer aspire one d255 далекого 2010 года выпуска.
        И чтобы хоть немного ускорить его работу, пришлось перейти на темную сторону Linux.
        На mint тяжеловато работал, а вот Lubuntu вдохнула в него новую жизнь.<br>
        <li>
          демонстрация раритета:
          <figure class = "netbook">
            <figcaption>acer aspire one d255 <br>(далекого 2010 года выпуска)</figcaption>
            <img src="{% static 'img/netbook.jpg' %}" width="200" height="300">
          </figure>
        </li>
      </p>
      <p>
        Понял, что интересно программирование в 2021 году, когда решил, что специальность,
        полученная в универе, немного не для меня.В далеком 2019 году на меня свалилось бремя коллеги, ушедшего из КП.
        Заключалось бремя в  осуществлении выгрузок с базы данных КП, под названием "АИС ГКН", на базе oracle, посредством SQL запросов.
        Сказать что я был счастлив, значит сильно ошибаться :) Было очень трудно разбираться, особенно, когда уже есть наработанная база запросов
        в которых 60-120 строк запроса, в которых взаимодействует масса таблиц, в которых таится уйма данных.
        Для примера, в Свердловской области у нас примерно 1.3 млн. земельных участков, примерно столько же объектов капитального строительства и
        примерно 3 млн. помещений. А это значит, что требования к фильтрации и оптимизации запросов довольно высоки, и  при неаккуратном обращении,
        запрос может выполняться несколько дней (в лучшем случае), в худшем, он через пару дней выставит ошибку о том, что снимок затерся:)
        Но как ни странно я начал получать удовольствие от того, что у меня что-то получается, с каждной выгрузкой я понимал чуточку больше о SQL.
        Работа с SQL для меня стала интереснее основной работы (основная заключалась в аналитике, периодической отчетности и взаимодействии с органами местного самоуправления).
      </p>
      <p>
        Год занимался самообразованием, понемногу изучал Python:
        <li>
          Прошел курс на платформе stepik "Поколение Python: курс для начинающих",
        </li>
        <li>
        изучил книжку автора Swaroop Chitlur "A Byte of Python".
        </li>
        <li>
        вдогонку изучил книжку Мартина Грабера "SQL для простых смертных"
        </li>
        и пустился во все тяжкие на курс ЯП.
      </p>
      <p>
        Надеюсь из этого выйдет что-нибудь стоящее. Спасибо за внимание!!!
      </p>

    </div>
  </div>
</div>
{% endblock %}
